@font-face {
    font-family: Beleren;
    src: url(./typeface-beleren-bold-master/Beleren2016-Bold.woff) format('woff');
  }

* {
    font-family: Beleren;
}

body {
    background-color: rgb(172, 172, 172);
    display: grid;
    justify-content: center;
    align-items: start;

    gap: 20px;
    margin: 0;
    height: 100vh;
    width: 100vw;

    grid-template-rows: 50px 1fr;
}

#content {
    background-color: rgba(11, 94, 11, 0.445);
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;

    padding: 10px;
    gap: 20px;
    width: 700px;
    border: 20px solid black; 
    border-radius: 40px;
}

.tab {
    display: grid;
    height: 100%;
    width: 100%;

    grid-template-columns: repeat(3, 1fr);
}

.tabGroup {
    width: 100%;
    font-size: 2rem;
    background-color: antiquewhite;
}

.tabGroup:hover {
    cursor: pointer;
    background-color: rgb(218, 205, 189);
}

/* Tab 1 */
#heroImg {
    width: 90%;
    height: 100%;
    border: .5px black solid;
}

#resHeader {
    background-image: url("./stockvault-subtle-green-grunge-background237994.jpg");
    border: .5px black solid;
    border-radius: 15px;
    font-size: 3rem;
    width: 630px;
    display: flex;
    justify-content: center;
    margin: 0;

    background-color: rgb(56, 128, 56);
}

#resDesc {
    background-image: url("./stockvault-subtle-green-grunge-background237994.jpg");
    display: flex;

    align-items: center;

    max-width: 90%;
    height: 300px;

    font-size: 1.3rem;
    border: .5px black solid;
}

#resDesc > p {
    padding: 10px;
}


/* Tab 2/3 */

.menuItems {
    display: grid;
    width: 90%;

    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.menuItems > div {
    background-image: url("./stockvault-subtle-green-grunge-background237994.jpg");
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    align-content: center;

    margin: 0;
    border-radius: 5px;
    border: .5px black solid;
    font-size: 1rem;
}

.menuItems > div > h2 {
    margin: 0;
    padding: 10px;
    text-decoration: underline;
}

.menuItems > div > p {
    margin: 0;
    padding: 10px;
}

.menuItems > img {
    background-image: url("./stockvault-subtle-green-grunge-background237994.jpg");
    height: 100%;
    width: 100%;

    border-radius: 5px;
    border: .5px black solid;
}